<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <title>Films tracker</title>

  <link rel="canonical" href="">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
  <script src="https://kit.fontawesome.com/ebcafbb756.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='/css/style.css') }}">

</head>


<body>
      <div class="navbar navbar-expand-lg ">
        <div class="container-fluid">
          <a href="{{ url_for("index") }}" class="navbar-brand d-flex ml-4 align-items-center">
              <img src="{{ url_for("static", filename="img/logo.svg")}}" style="width:30px;height:30px;">
            <p class="text-dark mb-0 ml-2 d-none d-md-block"><strong>Films tracker</strong></p>
          </a>
          <div class="d-flex flex-row-reverse bd-highlight">
            <div class="modal fade" id="modalRegisterForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header text-center">
                  <h4 class="modal-title w-100 font-weight-bold">Будь ласка, заповніть форму</h4>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body mx-3">
                  <div class="md-form mb-5">
                    <i class="fas fa-user prefix grey-text"></i>
                    <input type="text" id="orangeForm-name" class="form-control validate">
                    <label data-error="wrong" data-success="right" for="orangeForm-name">Ваше ім'я</label>
                  </div>
                  <div class="md-form mb-5">
                    <i class="fas fa-envelope prefix grey-text"></i>
                    <input type="email" id="orangeForm-email" class="form-control validate">
                    <label data-error="wrong" data-success="right" for="orangeForm-email">Eлектронна пошта</label>
                  </div>
          
                  <div class="md-form mb-4">
                    <i class="fas fa-lock prefix grey-text"></i>
                    <input type="password" id="orangeForm-pass" class="form-control validate">
                    <label data-error="wrong" data-success="right" for="orangeForm-pass">Пароль</label>
                  </div>
          
                </div>
                <div class="modal-footer d-flex justify-content-center">
                  <button class="btn btn-deep-orange">Регістрація</button>
                </div>
              </div>
            </div>
          </div>
          
          <div class="text-center">
            <a href="" class="btn btn-default btn-rounded" data-toggle="modal" data-target="#modalRegisterForm">
              <img src="{{ url_for("static", filename="img/registration.svg")}}" width="25" />
              <div class="d-none d-md-block">Регістрація</div></a>
          </div>
          <div class="modal fade" id="modalLoginForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
          aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header text-center">
                <h4 class="modal-title w-100 font-weight-bold">Увійти</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body mx-3">
                <div class="md-form mb-5">
                  <i class="fas fa-envelope prefix grey-text"></i>
                  <input type="text" id="username" class="form-control validate">
                  <label data-error="wrong" data-success="right" for="defaultForm-email">Eлектронна пошта</label>
                </div>
        
                <div class="md-form mb-4">
                  <i class="fas fa-lock prefix grey-text"></i>
                  <input type="password" id="password" class="form-control validate">
                  <label data-error="wrong" data-success="right" for="defaultForm-pass">Пароль</label>
                </div>
        
              </div>
              <div class="modal-footer d-flex justify-content-center">
                <button class="btn btn-default" type="button" name="login_button" id="login_button">Увійти</button>
              </div>
            </div>
          </div>
        </div>
        
        <div class="text-center">
          <a href="" class="btn btn-default btn-rounded" data-toggle="modal" data-target="#modalLoginForm">
            <img src="{{ url_for("static", filename="img/login_white_36dp.svg")}}" width="25" />
            <div class="d-none d-md-block">Увійти</div></a>
        </div>
          </div>
        </div>
      </div>
      <div class="navbarmain">
        <div class="navbar navbar-header navbar-expand navbar-light bg-light">
          <div class="d-none d-md-block">
            <div class="container-fluid">
                <div class="navbar-collapse justify-content-start mb-3">
                    
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link" data-toggle="dropdown">
                            <a href="#" class="navbar-brand ml-3">Фільми</a></a>
                        <div class="dropdown-menu">
                            <a href="#" class="dropdown-item">Комедії</a>
                            <a href="#" class="dropdown-item">Бойовики</a>
                            <a href="#" class="dropdown-item">Мелодрами</a>
                        </div>
                    </div>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link" data-toggle="dropdown">
                            <a href="#" class="navbar-brand ml-3">Серіали</a></a>
                        <div class="dropdown-menu">
                            <a href="#" class="dropdown-item">Комедії</a>
                            <a href="#" class="dropdown-item">Бойовики</a>
                            <a href="#" class="dropdown-item">Мелодрами</a>
                        </div>
                    </div>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link" data-toggle="dropdown">
                            <a href="#" class="navbar-brand ml-3">Мультфільми</a></a>
                        <div class="dropdown-menu">
                            <a href="#" class="dropdown-item">Комедії</a>
                            <a href="#" class="dropdown-item">Бойовики</a>
                            <a href="#" class="dropdown-item">Мелодрами</a>
                        </div>
                    </div>
                    <div class="dropdown">
                        <a href="#" class="nav-link" data-toggle="dropdown">
                            <a href="#" class="navbar-brand ml-3">Аніме</a></a>
                        <div class="dropdown-menu">
                            <a href="#" class="dropdown-item">Комедії</a>
                            <a href="#" class="dropdown-item">Бойовики</a>
                            <a href="#" class="dropdown-item">Мелодрами</a>
                        </div>
                    </div>
                </div>
              <div class="collapse navbar-collapse justify-content-end mr-5">
                <form class="search">
                  <div class="search__wrapper">
                    <input type="text" name="" placeholder="Пошук" class="search__field">
                    <button type="submit" class="fa fa-search search__icon"></button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>

    <div class="navbarsecondary">
      <div class="d-block d-md-none">
        <div class="navbar navbar-header navbar-expand navbar-light bg-light ">
            <div class="container-fluid ml-2 mt-1 mb-1">
              <div class="dropdown">
                  <button type="button"
                      class="btn dropdown"
                      data-toggle="dropdown">
                      <img src="{{url_for("static", filename="img/view_headline_white_36dp.svg")}}" alt="">
                  </button>
                  <div class="dropdown-menu">
                      <a class="dropdown-item" href="#">
                        <a href="{{ url_for("index") }}" class="navbar-brand ml-3">Фільми</a>
                      <a class="dropdown-item" href="#">
                        <a href="#" class="navbar-brand ml-3">Серіали</a>
                      <a class="dropdown-item" href="#">
                        <a href="{{ url_for("index") }}" class="navbar-brand ml-3">Мультфільми</a>
                      <a class="dropdown-item" href="#">
                        <a href="{{ url_for("index") }}" class="navbar-brand ml-3">Аніме</a>
                  </div>
              </div>
          </div>
            <form class="search" method="GET">
              <div class="search_#   <input type="text" name="" placeholder="Пошук" class="search__field" name="query" value="{{ request.args.get("query", "") }}">
                
                <button type="submit" class="fa fa-search search__icon"></button>
              </div>
            </form>
          </div>
      </div>
    </div>

{% block top_content %}
{% endblock %}

{% block content %}
{% endblock %}
<script>
  $(document).ready(function(){
    $("#login_button").click(functional(){
      var username = $("#username").val();
      var password = $("#password").val();
      if(username != "" && password != "")
      {

      }
      else
      {
          alert("!!!!");
      }
    });
  });
</script>

<script src="{{url_for('static',filename="js/script.js")}}"</script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
