{% extends 'base.html' %}

{% block top_content %}

<div class="container"
    <div class="row" style="margin-top: 100px; margin-bottom: 100px;">
        <h1> Добавити вибір за категоріями </h1>
    </div>
</div>

{% endblock %}


{% block content%}

<div class="items">
    <div class="container mx-auto mt-4">
      <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-6 mb-4 mb-lg-0">
          <div class="card" style="width: 15rem;">
            <img src="{{url_for("static", filename="img/game_of_thrones.jpeg")}}" class="card-img-top" alt="...">
            <div class="card-body">
              <h4 class="card-title">Game of Thrones (Гра престолів)</h4>
              <h5 class="card-subtitle mb-2 text-muted">2011-2019, США</h5>
              <h6 class="card-subtitle mb-2 text-muted">Драма, Фентезі</h6>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>    
            </div>
         </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 mb-4 mb-lg-0">
          <div class="card" style="width: 15rem;">
            <img src="{{url_for("static", filename="img/game_of_thrones.jpeg")}}" class="card-img-top" alt="...">
            <div class="card-body">
              <h4 class="card-title">Game of Thrones (Гра престолів)</h4>
              <h5 class="card-subtitle mb-2 text-muted">2011-2019, США</h5>
              <h6 class="card-subtitle mb-2 text-muted">Драма, Фентезі</h6>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>    
            </div>
         </div>
        </div>  
        <div class="col-lg-3 col-md-6 col-sm-6 mb-4 mb-lg-0">
          <div class="card" style="width: 15rem;">
            <img src="{{url_for("static", filename="img/game_of_thrones.jpeg")}}" class="card-img-top" alt="...">
            <div class="card-body">
              <h4 class="card-title">Game of Thrones (Гра престолів)</h4>
              <h5 class="card-subtitle mb-2 text-muted">2011-2019, США</h5>
              <h6 class="card-subtitle mb-2 text-muted">Драма, Фентезі</h6>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>    
            </div>
         </div>
        </div>  
        <div class="col-lg-3 col-md-6 col-sm-6 mb-4 mb-lg-0">
          <div class="card" style="width: 15rem;">
            <img src="{{url_for("static", filename="img/game_of_thrones.jpeg")}}" class="card-img-top" alt="...">
            <div class="card-body">
              <h4 class="card-title">Game of Thrones (Гра престолів)</h4>
              <h5 class="card-subtitle mb-2 text-muted">2011-2019, США</h5>
              <h6 class="card-subtitle mb-2 text-muted">Драма, Фентезі</h6>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>    
            </div>
         </div>
        </div>  
        <div class="col-lg-3 col-md-6 col-sm-6 mb-4 mb-lg-0">
          <div class="card" style="width: 15rem;">
            <img src="{{url_for("static", filename="img/game_of_thrones.jpeg")}}" class="card-img-top" alt="...">
            <div class="card-body">
              <h4 class="card-title">Game of Thrones (Гра престолів)</h4>
              <h5 class="card-subtitle mb-2 text-muted">2011-2019, США</h5>
              <h6 class="card-subtitle mb-2 text-muted">Драма, Фентезі</h6>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>    
            </div>
         </div>
        </div>  
        <div class="col-lg-3 col-md-6 col-sm-6 mb-4 mb-lg-0">
          <div class="card" style="width: 15rem;">
            <img src="{{url_for("static", filename="img/game_of_thrones.jpeg")}}" class="card-img-top" alt="...">
            <div class="card-body">
              <h4 class="card-title">Game of Thrones (Гра престолів)</h4>
              <h5 class="card-subtitle mb-2 text-muted">2011-2019, США</h5>
              <h6 class="card-subtitle mb-2 text-muted">Драма, Фентезі</h6>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>    
            </div>
         </div>
        </div>  
        <div class="col-lg-3 col-md-6 col-sm-6 mb-4 mb-lg-0">
          <div class="card" style="width: 15rem;">
            <img src="{{url_for("static", filename="img/game_of_thrones.jpeg")}}" class="card-img-top" alt="...">
            <div class="card-body">
              <h4 class="card-title">Game of Thrones (Гра престолів)</h4>
              <h5 class="card-subtitle mb-2 text-muted">2011-2019, США</h5>
              <h6 class="card-subtitle mb-2 text-muted">Драма, Фентезі</h6>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>    
            </div>
         </div>
        </div>  
        <div class="col-lg-3 col-md-6 col-sm-6 mb-4 mb-lg-0">
          <div class="card" style="width: 15rem;">
            <img src="{{url_for("static", filename="img/game_of_thrones.jpeg")}}" class="card-img-top" alt="...">
            <div class="card-body">
              <h4 class="card-title">Game of Thrones (Гра престолів)</h4>
              <h5 class="card-subtitle mb-2 text-muted">2011-2019, США</h5>
              <h6 class="card-subtitle mb-2 text-muted">Драма, Фентезі</h6>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>    
            </div>
         </div>
        </div>  
        <div class="col-lg-3 col-md-6 col-sm-6 mb-4 mb-lg-0">
          <div class="card" style="width: 15rem;">
            <img src="{{url_for("static", filename="img/game_of_thrones.jpeg")}}" class="card-img-top" alt="...">
            <div class="card-body">
              <h4 class="card-title">Game of Thrones (Гра престолів)</h4>
              <h5 class="card-subtitle mb-2 text-muted">2011-2019, США</h5>
              <h6 class="card-subtitle mb-2 text-muted">Драма, Фентезі</h6>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>    
            </div>
         </div>
        </div>  
        <div class="col-lg-3 col-md-6 col-sm-6 mb-4 mb-lg-0">
          <div class="card" style="width: 15rem;">
            <img src="{{url_for("static", filename="img/game_of_thrones.jpeg")}}" class="card-img-top" alt="...">
            <div class="card-body">
              <h4 class="card-title">Game of Thrones (Гра престолів)</h4>
              <h5 class="card-subtitle mb-2 text-muted">2011-2019, США</h5>
              <h6 class="card-subtitle mb-2 text-muted">Драма, Фентезі</h6>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>    
            </div>
         </div>
        </div>  
        <div class="col-lg-3 col-md-6 col-sm-6 mb-4 mb-lg-0">
          <div class="card" style="width: 15rem;">
            <img src="{{url_for("static", filename="img/game_of_thrones.jpeg")}}" class="card-img-top" alt="...">
            <div class="card-body">
              <h4 class="card-title">Game of Thrones (Гра престолів)</h4>
              <h5 class="card-subtitle mb-2 text-muted">2011-2019, США</h5>
              <h6 class="card-subtitle mb-2 text-muted">Драма, Фентезі</h6>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>    
            </div>
         </div>
        </div>  
        <div class="col-lg-3 col-md-6 col-sm-6 mb-4 mb-lg-0">
          <div class="card" style="width: 15rem;">
            <img src="{{url_for("static", filename="img/game_of_thrones.jpeg")}}" class="card-img-top" alt="...">
            <div class="card-body">
              <h4 class="card-title">Game of Thrones (Гра престолів)</h4>
              <h5 class="card-subtitle mb-2 text-muted">2011-2019, США</h5>
              <h6 class="card-subtitle mb-2 text-muted">Драма, Фентезі</h6>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>    
            </div>
         </div>
        </div>  
        <div class="col-lg-3 col-md-6 col-sm-6 mb-4 mb-lg-0">
          <div class="card" style="width: 15rem;">
            <img src="{{url_for("static", filename="img/game_of_thrones.jpeg")}}" class="card-img-top" alt="...">
            <div class="card-body">
              <h4 class="card-title">Game of Thrones (Гра престолів)</h4>
              <h5 class="card-subtitle mb-2 text-muted">2011-2019, США</h5>
              <h6 class="card-subtitle mb-2 text-muted">Драма, Фентезі</h6>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>    
            </div>
         </div>
        </div>  
        <div class="col-lg-3 col-md-6 col-sm-6 mb-4 mb-lg-0">
          <div class="card" style="width: 15rem;">
            <img src="{{url_for("static", filename="img/game_of_thrones.jpeg")}}" class="card-img-top" alt="...">
            <div class="card-body">
              <h4 class="card-title">Game of Thrones (Гра престолів)</h4>
              <h5 class="card-subtitle mb-2 text-muted">2011-2019, США</h5>
              <h6 class="card-subtitle mb-2 text-muted">Драма, Фентезі</h6>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>    
            </div>
         </div>
        </div>  
        <div class="col-lg-3 col-md-6 col-sm-6 mb-4 mb-lg-0">
          <div class="card" style="width: 15rem;">
            <img src="{{url_for("static", filename="img/game_of_thrones.jpeg")}}" class="card-img-top" alt="...">
            <div class="card-body">
              <h4 class="card-title">Game of Thrones (Гра престолів)</h4>
              <h5 class="card-subtitle mb-2 text-muted">2011-2019, США</h5>
              <h6 class="card-subtitle mb-2 text-muted">Драма, Фентезі</h6>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>    
            </div>
         </div>
        </div>  
        <div class="col-lg-3 col-md-6 col-sm-6 mb-4 mb-lg-0">
          <div class="card" style="width: 15rem;">
            <img src="{{url_for("static", filename="img/game_of_thrones.jpeg")}}" class="card-img-top" alt="...">
            <div class="card-body">
              <h4 class="card-title">Game of Thrones (Гра престолів)</h4>
              <h5 class="card-subtitle mb-2 text-muted">2011-2019, США</h5>
              <h6 class="card-subtitle mb-2 text-muted">Драма, Фентезі</h6>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>    
            </div>
         </div>
        </div>  
        <div class="col-lg-3 col-md-6 col-sm-6 mb-4 mb-lg-0">
          <div class="card" style="width: 15rem;">
            <img src="{{url_for("static", filename="img/game_of_thrones.jpeg")}}" class="card-img-top" alt="...">
            <div class="card-body">
              <h4 class="card-title">Game of Thrones (Гра престолів)</h4>
              <h5 class="card-subtitle mb-2 text-muted">2011-2019, США</h5>
              <h6 class="card-subtitle mb-2 text-muted">Драма, Фентезі</h6>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>    
            </div>
         </div>
        </div>  
        <div class="col-lg-3 col-md-6 col-sm-6 mb-4 mb-lg-0">
          <div class="card" style="width: 15rem;">
            <img src="{{url_for("static", filename="img/game_of_thrones.jpeg")}}" class="card-img-top" alt="...">
            <div class="card-body">
              <h4 class="card-title">Game of Thrones (Гра престолів)</h4>
              <h5 class="card-subtitle mb-2 text-muted">2011-2019, США</h5>
              <h6 class="card-subtitle mb-2 text-muted">Драма, Фентезі</h6>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>    
            </div>
         </div>
        </div>  
        <div class="col-lg-3 col-md-6 col-sm-6 mb-4 mb-lg-0">
          <div class="card" style="width: 15rem;">
            <img src="{{url_for("static", filename="img/game_of_thrones.jpeg")}}" class="card-img-top" alt="...">
            <div class="card-body">
              <h4 class="card-title">Game of Thrones (Гра престолів)</h4>
              <h5 class="card-subtitle mb-2 text-muted">2011-2019, США</h5>
              <h6 class="card-subtitle mb-2 text-muted">Драма, Фентезі</h6>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>    
            </div>
         </div>
        </div>  
        <div class="col-lg-3 col-md-6 col-sm-6 mb-4 mb-lg-0">
          <div class="card" style="width: 15rem;">
            <img src="{{url_for("static", filename="img/game_of_thrones.jpeg")}}" class="card-img-top" alt="...">
            <div class="card-body">
              <h4 class="card-title">Game of Thrones (Гра престолів)</h4>
              <h5 class="card-subtitle mb-2 text-muted">2011-2019, США</h5>
              <h6 class="card-subtitle mb-2 text-muted">Драма, Фентезі</h6>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>    
            </div>
         </div>
        </div>  
      </div>
    </div>
  </div>

{% endblock %}